#body{
    background-color: rgb(138, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}
#navbar-example2{
    background-attachment: fixed;
    background-color: rgb(35, 22, 48);
}
#buttonDownload{
    border-radius: 5px;
    border-bottom: 1px;
    color: bisque;
    border-color: brown;
}
